In [1]:
import pandas as pd
#dataframe = pd.DataFrame()
venda = {'data':['15/01/2025','20/02/2025'],
         'valor':[500, 300],
         'produto':['feijão','arroz'],
         'qtde':[50, 70]
         }
vendas_df = pd.DataFrame(venda)
print(vendas_df)

         data  valor produto  qtde
0  15/01/2025    500  feijão    50
1  20/02/2025    300   arroz    70

In [5]:
display(vendas_df)

    Produto  Valor  Quantidade  Total       Data
0     Arroz     13           2     26 2025-02-04
1    Batata      4           2      8 2025-02-06
2     Carro  40000           1  40000 2025-02-20
3  Camiseta     40           3    120 2025-02-04

In [4]:
import pandas as pd
vendas_df = pd.read_excel("teste1.xlsx")
display(vendas_df)

            Produto    Valor  Quantidade  Total       Data
0             Arroz     13.0           2     26 2025-02-04
1          Camiseta     40.0           3    120 2025-02-05
2            Batata      4.0           2      8 2025-02-06
3            Feijão      7.0           5     35 2025-02-07
4      Refrigerante      6.0           4     24 2025-02-08
5            Frango     15.0           3     45 2025-02-09
6          Notebook   2500.0           1   2500 2025-02-10
7          Telefone   1200.0           2   2400 2025-02-11
8          Macarrão      5.0           6     30 2025-02-12
9               Pão      3.0          10     30 2025-02-13
10           Queijo     25.0           2     50 2025-02-14
11            Livro     60.0           1     60 2025-02-15
12             Sofá   1200.0           1   1200 2025-02-16
13           Laptop   3000.0           1   3000 2025-02-17
14        Chocolate     10.0           5     50 2025-02-18
15        Geladeira   2000.0           1   2000 2025-02-19
16            Carro  40000.0           1  40000 2025-02-20
17            Sabão      2.5           8     20 2025-02-21
18   Pasta de dente      4.0           4     16 2025-02-22
19          Mochila     80.0           2    160 2025-02-23
20          Celular   1500.0           1   1500 2025-02-24
21            Ração     30.0           3     90 2025-02-25
22     Caixa de som    250.0           1    250 2025-02-26
23             Suco      4.0           6     24 2025-02-27
24            Tênis    120.0           2    240 2025-02-28
25          Relógio    200.0           1    200 2025-03-01
26          Shampoo      8.0           3     24 2025-03-02
27    Condicionador      8.0           3     24 2025-03-03
28          Cadeira    150.0           2    300 2025-03-04
29          Cerveja      3.0          12     36 2025-03-05
30            Pizza     40.0           2     80 2025-03-06
31           Xícara     10.0           6     60 2025-03-07
32            Sunga     25.0           3     75 2025-03-08
33          Picanha     60.0           2    120 2025-03-09
34          Secador    100.0           1    100 2025-03-10
35             Boné     15.0           5     75 2025-03-11
36           Tablet    500.0           1    500 2025-03-12
37       Carregador     30.0           4    120 2025-03-13
38          Lâmpada      7.0           8     56 2025-03-14
39             Água      2.0          20     40 2025-03-15
40         Sabonete      3.0          10     30 2025-03-16
41    Churrasqueira    350.0           1    350 2025-03-17
42             Meia      5.0           8     40 2025-03-18
43         Chaveiro      2.0           5     10 2025-03-19
44             Alho      3.0           7     21 2025-03-20
45          Picanha     65.0           2    130 2025-03-21
46  Máquina de café    400.0           1    400 2025-03-22
47       Computador   2800.0           1   2800 2025-03-23

In [5]:
display(vendas_df.head())#mostra ate no maximo somente 5 primeiros valores
print(vendas_df.shape)#mostra quantas linhas e colunas tem na tabela
display(vendas_df.describe())#descreve os dados da tabela

        Produto  Valor  Quantidade  Total       Data
0         Arroz   13.0           2     26 2025-02-04
1      Camiseta   40.0           3    120 2025-02-05
2        Batata    4.0           2      8 2025-02-06
3        Feijão    7.0           5     35 2025-02-07
4  Refrigerante    6.0           4     24 2025-02-08

(48, 5)

              Valor  Quantidade       Total                 Data
count     48.000000   48.000000     48.0000                   48
mean    1184.677083    3.854167   1238.9375  2025-02-27 12:00:00
min        2.000000    1.000000      8.0000  2025-02-04 00:00:00
25%        5.750000    1.000000     30.0000  2025-02-15 18:00:00
50%       27.500000    2.500000     75.0000  2025-02-27 12:00:00
75%      212.500000    5.000000    262.5000  2025-03-11 06:00:00
max    40000.000000   20.000000  40000.0000  2025-03-23 00:00:00
std     5771.465270    3.678515   5768.2102                  NaN

In [11]:
produtos = vendas_df[['Quantidade','Produto']]
display(produtos)

    Quantidade          Produto
0            2            Arroz
1            3         Camiseta
2            2           Batata
3            5           Feijão
4            4     Refrigerante
5            3           Frango
6            1         Notebook
7            2         Telefone
8            6         Macarrão
9           10              Pão
10           2           Queijo
11           1            Livro
12           1             Sofá
13           1           Laptop
14           5        Chocolate
15           1        Geladeira
16           1            Carro
17           8            Sabão
18           4   Pasta de dente
19           2          Mochila
20           1          Celular
21           3            Ração
22           1     Caixa de som
23           6             Suco
24           2            Tênis
25           1          Relógio
26           3          Shampoo
27           3    Condicionador
28           2          Cadeira
29          12          Cerveja
30           2            Pizza
31           6           Xícara
32           3            Sunga
33           2          Picanha
34           1          Secador
35           5             Boné
36           1           Tablet
37           4       Carregador
38           8          Lâmpada
39          20             Água
40          10         Sabonete
41           1    Churrasqueira
42           8             Meia
43           5         Chaveiro
44           7             Alho
45           2          Picanha
46           1  Máquina de café
47           1       Computador

### **loc um metodo importante**
- Pegar 1 linha
- Pegar linhas de acordo com alguma condição
- Pegar linhas e colunas especificas
- Pegar 1 valor especifico

In [24]:
#PEGA UMA LINHA ESPECIFICA
#vendas_df.loc[1:5]

#Pegar linhas que correspondem a uma condição
#display(vendas_df.loc[vendas_df['Produto'] == 'Feijão'])

#pegar varias linhas e colunas usando o loc
#linhas = vendas_df.loc[vendas_df['Produto'] == 'Feijão',['Produto','Quantidade','Total']]
#display(linhas)

#pegar 1 valor especifico 
#print(vendas_df.loc[1,'Produto'])

Camiseta

### **Adicionar Coluna**

In [30]:
# a partir de uma coluna que existe
vendas_df['Local'] = 'São Paulo'

# criar uma coluna com valor padrão
vendas_df.loc[:, 'Imposto'] = 0
display(vendas_df)

            Produto    Valor  Quantidade  Total       Data      Local  Imposto
0             Arroz     13.0           2     26 2025-02-04  São Paulo        0
1          Camiseta     40.0           3    120 2025-02-05  São Paulo        0
2            Batata      4.0           2      8 2025-02-06  São Paulo        0
3            Feijão      7.0           5     35 2025-02-07  São Paulo        0
4      Refrigerante      6.0           4     24 2025-02-08  São Paulo        0
5            Frango     15.0           3     45 2025-02-09  São Paulo        0
6          Notebook   2500.0           1   2500 2025-02-10  São Paulo        0
7          Telefone   1200.0           2   2400 2025-02-11  São Paulo        0
8          Macarrão      5.0           6     30 2025-02-12  São Paulo        0
9               Pão      3.0          10     30 2025-02-13  São Paulo        0
10           Queijo     25.0           2     50 2025-02-14  São Paulo        0
11            Livro     60.0           1     60 2025-02-15  São Paulo        0
12             Sofá   1200.0           1   1200 2025-02-16  São Paulo        0
13           Laptop   3000.0           1   3000 2025-02-17  São Paulo        0
14        Chocolate     10.0           5     50 2025-02-18  São Paulo        0
15        Geladeira   2000.0           1   2000 2025-02-19  São Paulo        0
16            Carro  40000.0           1  40000 2025-02-20  São Paulo        0
17            Sabão      2.5           8     20 2025-02-21  São Paulo        0
18   Pasta de dente      4.0           4     16 2025-02-22  São Paulo        0
19          Mochila     80.0           2    160 2025-02-23  São Paulo        0
20          Celular   1500.0           1   1500 2025-02-24  São Paulo        0
21            Ração     30.0           3     90 2025-02-25  São Paulo        0
22     Caixa de som    250.0           1    250 2025-02-26  São Paulo        0
23             Suco      4.0           6     24 2025-02-27  São Paulo        0
24            Tênis    120.0           2    240 2025-02-28  São Paulo        0
25          Relógio    200.0           1    200 2025-03-01  São Paulo        0
26          Shampoo      8.0           3     24 2025-03-02  São Paulo        0
27    Condicionador      8.0           3     24 2025-03-03  São Paulo        0
28          Cadeira    150.0           2    300 2025-03-04  São Paulo        0
29          Cerveja      3.0          12     36 2025-03-05  São Paulo        0
30            Pizza     40.0           2     80 2025-03-06  São Paulo        0
31           Xícara     10.0           6     60 2025-03-07  São Paulo        0
32            Sunga     25.0           3     75 2025-03-08  São Paulo        0
33          Picanha     60.0           2    120 2025-03-09  São Paulo        0
34          Secador    100.0           1    100 2025-03-10  São Paulo        0
35             Boné     15.0           5     75 2025-03-11  São Paulo        0
36           Tablet    500.0           1    500 2025-03-12  São Paulo        0
37       Carregador     30.0           4    120 2025-03-13  São Paulo        0
38          Lâmpada      7.0           8     56 2025-03-14  São Paulo        0
39             Água      2.0          20     40 2025-03-15  São Paulo        0
40         Sabonete      3.0          10     30 2025-03-16  São Paulo        0
41    Churrasqueira    350.0           1    350 2025-03-17  São Paulo        0
42             Meia      5.0           8     40 2025-03-18  São Paulo        0
43         Chaveiro      2.0           5     10 2025-03-19  São Paulo        0
44             Alho      3.0           7     21 2025-03-20  São Paulo        0
45          Picanha     65.0           2    130 2025-03-21  São Paulo        0
46  Máquina de café    400.0           1    400 2025-03-22  São Paulo        0
47       Computador   2800.0           1   2800 2025-03-23  São Paulo        0

### **Adicionar 1 Linha**